.mainView {
  min-height: 100vh;
  font-size: 100%;
  font-family: Proxima Nova Regular, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  background-color: #2e3035;
  color: #fff;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  padding: 56px 15px;
  grid-gap: 15px;
}
 
@media screen and (min-width: 1900px) {
  .mainView {
    grid-template-columns: repeat(4, auto);
  }
}

@media screen and (min-width: 2400px) {
  .mainView {
    grid-template-columns: repeat(5, auto);
  }
}

